{% extends 'base.html' %}
{% load static %}

{% block css %}
	<link rel="stylesheet" href={% static 'deps/css/my_footer_css.css' %}>
{% endblock %}

{% block content %}
    <div class="my-5 pt-5 px-2 pb-2 bg-white custom-shadow rounded">
        <h2 class="m-2"><strong>{{ content }}</strong></h2>
        <p class="m-2" style="font-size: 1.2rem;">
            <p>Мы стремимся сделать процесс покупки простым и удобным для вас! В этом разделе вы найдете информацию о доставке и способах оплаты.</p>

            <h2>Доставка</h2>
            <h3>Бесплатная доставка:</h3>
            <ul>
                <li>Мы предоставляем <strong>бесплатную доставку</strong> по всем регионам, вне зависимости от суммы заказа.</li>
                <li>Доставка осуществляется в течение 2-7 рабочих дней, в зависимости от вашего местоположения.</li>
                <li>Как только ваш заказ будет передан курьеру, вы получите уведомление на электронную почту.</li>
            </ul>

            <h3>Самовывоз:</h3>
            <ul>
                <li>Вы можете забрать заказ из нашего магазина или пункта выдачи.</li>
                <li>Как только заказ будет готов к выдаче, мы сообщим вам.</li>
            </ul>

            <h2>Способы оплаты</h2>
            <h3>Онлайн оплата:</h3>
            <ul>
                <li>Оплата через банковские карты (Visa, MasterCard, МИР) осуществляется с помощью <strong>YooKassa</strong> на защищенной странице после оформления заказа.</li>
            </ul>

            <h3>Оплата при получении:</h3>
            <ul>
                <li>При доставке на дом вы можете оплатить заказ через <strong>терминал</strong> курьера, используя банковскую карту.</li>
            </ul>

            <h2>Возврат товаров</h2>
            <p>Возврат или обмен возможен в течение 14 дней с момента получения заказа, если товар не был использован и сохранен товарный вид.</p>

            <p>Если у вас есть вопросы, наша служба поддержки всегда готова помочь!</p>
    </div>
{% endblock %}
